auto-install-peers=true
shamefully-hoist=true
strict-peer-dependencies=false
public-hoist-pattern[]=*@types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
enable-pre-post-scripts=true
